div#filebrowser {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

div#account-services {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 75;
}

.navbar-fixed-top {
  z-index: 70;
}

#viewDiv {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#inTheBuilding, #openingTheDoor {
  z-index: 2000;
}

.videoFrame {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 32%;
  height: 24vw;
  border: 0;
  margin: 0;
  padding: 0;
  background-color:rgba(0, 0, 0, 0);
}

#welcomeScreen {
  width: 55%;
  h1 {
    color: #fff;
    text-shadow: 2px 0px 7px rgba(0, 0, 0, 0.9);
  }
  h2 {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 0px 7px rgba(0, 0, 0, 0.9);
  }
  md-button {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
#inTheBuilding {
  h1 {
    color: #fff;
    text-shadow: 2px 0px 7px rgba(0, 0, 0, 0.9);
  }
}
#openingTheDoor {
  h1 {
    color: #fff;
    text-shadow: 2px 0px 7px rgba(0, 0, 0, 0.9);
  }
}
