@import "../bower_components/angular-material/angular-material.scss";

html {
  background: url(/images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  background: none;
}

button, select, textarea, input, html, body {
  font-family: Roboto, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

div#outer-view {
  &.ng-enter  {
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
  }
  &.ng-enter-active  {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.deep-dark-shadow {
  box-shadow: 0 12px 18px 5px rgba(0, 0, 0, 0.3), 0 15px 23px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s;
  &:hover {
    box-shadow: 0 12px 18px 5px rgba(0, 0, 0, 0.55), 0 15px 23px 5px rgba(0, 0, 0, 0.55);
  }
}
